.svg_filtre, .svg_info
{
    color: #0065FC; width: 20px; height: 20px; background-color: #DEEBFF; border-radius: 100%; padding:  15px 15px;
}

.blockfiltre, .filtre, .infobule
{ 
    display: flex;
}
