@font-face {
    font-family: 'Raleway';
        src: url('police/Raleway-VariableFont_wght.ttf') format('truetype'),
             url('police/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0; 
    padding: 0;
    list-style-type: none;
}

body
{
	width: auto;
    font-family:'Raleway'; 
    display: flex;
    justify-content: center;
}

#balise_principle
{
    max-width: 1440px;
    
}



header, section, .infobule
{
    margin-left: 50px;
    margin-right: 50px;
}



/*header*/



header 
{
    display: flex; 
    justify-content: space-between;
    margin-top: 50px;
}

.liens
{
    display: flex; 
    flex-direction: row-reverse; 
    
}

li
{
    display: block;
    flex-direction: row;
    padding: 1em;
    width: 120px;
    
}

li:hover
{
    color: #0065FC;
    border-top: solid #0065FC;
}
.liens nav ul
{
    display: flex;
    color: #101010;
    
        
}

.inscription
{
    color: #0065FC;
    padding: 1em;
    width: 120px;
    font-weight: bold;
}

.inscription:hover
{
    border-top: solid #0065FC; 
}


/*header version mobile*/
@media all and (max-width: 1024px)
{
    
    
    header
    {
       position: relative;
       margin-top: 20px;
       margin-left: 0px;
       margin-right: 0px;
       width: 100%;
       padding-left: 0px;
    }
    
       #balise_principle
    {
        max-width: 375px;
        
    }
    
    header svg
    {
        position: absolute;
        left: 20px;
    }
    
    .liens
    {
        display: flex; 
        flex-direction: column; 
        text-align: right;
        width: 100%;
    }

    /*.liens a.inscription
    {
        text-align: right;
        display: block;
        display: flex;
        justify-content: right;
    }*/
    header nav ul
    {
        display: flex;
      
    }
    
    .menu
    {
        width: 100%;
    }

    li
    {

        width: 50%;
        margin-left: 0em;
        text-align: center;
        border-bottom: solid #F2F2F2;
    }
    
    li:hover
    {
        border-top: none;
        border-bottom: solid #0065FC;
    }

    li a.a_1
    {
        position: absolute;
        left: 40px;
    }
    
    .menu li a:hover
    {
        color: #0065FC;
        
    }
    
    section, .infobule
    {
    padding-left: 20px;
    padding-right: 20px;
    }
   
    .inscription
    {
    
    width: auto;
    }

    .inscription:hover
    {
        border: none;
    }


}


/*Section resultat de recherches*/
#search
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0em;
    margin-top: 2.5em;
    margin-bottom: 2em;
    
}

#search h1 
{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

#search p
{
    margin-bottom: 15px;
    font-size: 0.8em;
}

.bouton_recherche
{
   max-width: 425px;
   height: 50px;
   display: flex;
   justify-content: space-between;
   border: 1px solid #F2F2F2;
   border-bottom-left-radius: 15px;
   border-top-left-radius: 15px;
}  

.svg_map
{
    width: 20px; 
    height: 20px; 
    background-color: #F2F2F2; 
    padding:  15px 15px 15px 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#rechercher
{
  border: none;
  font-size: 1em; 
  font-weight: bold;
  font-family: 'Raleway';
  padding-left: 5px;
  color: black;
  
}

.bouton
{
    padding: 10px;
    background-color: #0065FC;
    font-family: 'Raleway';
    color: #F2F2F2;
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media all and (max-width: 1024px)
{
    section
    {
        margin-left: 0;
        margin-right: 0;
    }

    #search h1
    {
        font-size: 1.4em;
        text-align: left;
        margin-left: 20px;
        margin-right: 50px;
    }

    #search p
    {
        margin-left: 20px;
    }

    /*.svg_map
    {
        position: absolute;
    }*/
    
    .bouton_recherche
    {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 70%;
    }

    .bouton
    {
        padding: 0;
    }

}



/*filtre*/

#blockfiltre
{
    display: flex;
    justify-content:left ;
    flex-direction: row;
    align-items: center;
    font-size: 1em; 
    font-weight: bold;
    
    margin-bottom: 20px;
   
    
}

 .word
{
    width: 5%;
    margin-right: 1em;
    
  }
  
.tous_filtre
{
    display: flex;
    flex-direction: row;
    
}


.filtre
{
   display: flex;
   flex-direction: row;
   border: 2px solid #D9D9D9;
   margin-right: 25px;
   padding-right: 10px;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   border-left: transparent;
   height: 53px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   justify-content: space-between;
   align-items: center;
   
}

.filtre:hover
{
    border: 2px solid white;
    background-color: #0065FC;
    color: white;
    box-shadow: 6px 6px 6px #404040;
}

.svg_filtre  
{
    color: #0065FC; 
    width: 25px;
    height: 25px; 
    background-color: #DEEBFF;
    border-radius: 100%;
    padding:  15px ;
    margin-right: 5px;
    
}


@media all and (max-width: 1024px)
{

  #blockfiltre
    {
        display: flex;
        flex-direction: column;
        justify-content: left;
        font-size: 0.8em;
    }

   .word
    {
        display: block;
        width: auto;
        font-size: 1.2em; 
        
        margin-bottom: 10px;
        position: relative;
        left: -123px;
        justify-content: left;
        
    }

    .tous_filtre
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }

    .filtre
    {
        margin-bottom: 10px;
    }

}


/*infobule*/
.infobule
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-bottom: 2em;
}

.svg_info
{
    color: #0065FC; 
    width: 8px;
    height: 8px; 
    border: 2px solid #D9D9D9;
    border-radius: 100%;
    padding:  5px ;
    margin-right: 5px;
}

@media all and (max-width: 1024px)
{

.infobule
{
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
}

}

/* Section 1 Hébergement à Marseille */

#result_search
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;


}

#hebergement
{
    max-width: auto;
    background-color: #F2F2F2;
    padding-top: 45px;
    padding-left: 35px;
    padding-right: 15px;
    border-radius: 30px;
}

#img_resultat
{
   display: flex;
    flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   
   margin-top: 35px;
   
   
}

#img_resultat span
{
    display: flex;
    flex-direction: row;
}

.img_res
{
    display: block;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    box-shadow: 6px 6px 6px #E7E7E7;
    overflow: hidden;
    height: 190px;
    width: 250px;
    margin-bottom: 20px;
    margin-right: 20px;

}


.img_res a.img1
{
    display: block;
    background-image: url('images/hebergements/250_px/Background.jpg');
    height: 115px;
    
    background-size: cover;
}

.img_res a.img2
{
    display: block;
    background-image: url('images/hebergements/250_px/hotel_du_port.jpg');
    height: 115px;
    
    background-size: cover;
    
}

.img_res a.img3
{
    display: block;
    background-image: url('images/hebergements/250_px/les_mouettes.jpg');
    height: 115px;
    background-size: cover;
}

.img_res a.img4
{
    display: block;
    background-image: url('images/hebergements/250_px/de_la_mer.jpg');
    height: 115px;
    background-size: cover;
}

.img_res a.img5
{
    display: block;
    background-image: url('images/hebergements/250_px/le_panier.jpg');
    height: 115px;
    background-size: cover;
}

.img_res a.img6
{
    display: block;
    background-image: url('images/hebergements/250_px/chez_amina.jpg');
    height: 115px;
    background-size: cover;
}

.img_res h3
{
    font-weight: bold;
}
figcaption
{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.boutton_plus
{
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 20px;
}

.boutton_plus a:link
{
    color: #101010;
}

.boutton_plus a:visited
{
    color: #0065FC;
}

.svg_star_blue
{
    color: #0065FC; width: 20px; height: 20px;
}

.svg_star_grey
{
    color: #D9D9D9; width: 20px; height: 20px;
}




@media all and (max-width: 1024px)
{

    #result_search
    {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-left: 0;
    padding-right: 0;

    }

    #hebergement
    {
        background-color: white;
        border-radius: 0;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }

    #hebergement h2
    {
        padding-left: 20px;
    }

        .img_res
        {
            margin-right: 0;
            width: 335px;
        }

    #img_resultat span
    {
        flex-direction: column;
    }

}

/*populaire*/


#titre_populaire
{
    
    border-radius: 30px;
    background-color: #F2F2F2;
    margin-left: 15px;
    padding-top: 45px;
    padding-left: 35px;
    padding-right: 35px;
    
    width: 350px;
}

#titre_populaire h2
{
    display: flex;
    justify-content: space-between;
}

.svg_chart_line
{
    width: 20px; height: 20px;
}

.pub_img_pop
{
    display: flex;
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    box-shadow: 6px 6px 6px #E7E7E7;
    overflow: hidden;
    margin-top: 15px;
    align-items: stretch;
    }

    .pub_img_pop a.img1
    {
        display: block;
        background-image: url('images/hebergements/335_px/hotel_le_soleil_du_matin.jpg');
        width: 133px;
        background-size: cover;
    }

    .pub_img_pop a.img2
    {
        display: block;
        background-image: url('images/hebergements/335_px/au_coeur.jpg');
        width: 133px;
        background-size: cover;
    }

.pub_img_pop a.img3
    {
        display: block;
        background-image: url('images/hebergements/335_px/tout_bleu.jpg');
        width: 133px;
        background-size: cover;
    }
    
.pub_img_pop p.etoiles
{
    margin-top: 30px;
}


@media all and (max-width: 1024px)
{
    #titre_populaire
{
    
    border-radius: 0;
    margin-left: 0px;
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}

    .image_populaire figure
    {
        width: auto;
        height: 147px;
    }


    
}



/*Section activités*/

#activites
{
    padding-bottom: 60px;
    
}

.img_activites
{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    
}

.img_activites figcaption
{
    font-weight: bold;
}

.img_activ_big
{
    
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    box-shadow: 6px 6px 6px #E7E7E7;
    overflow: hidden;
    align-items: stretch;
}

.img_activ_big a.img1
{
    display: block;
    background-image: url('images/activites/port.jpg');
    width: 295px;
    height: 390px;
    background-size: cover;
    margin-bottom: 15px;
    
}

.img_activ_big a.img4
{
    display: block;
    background-image: url('images/activites/calanques.jpg');
    width: 300px;
    height: 390px;
    background-size: cover;
    margin-bottom: 15px;
}


.block_img_small
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_activ_small
{
    border: 5px solid white;
    border-radius: 30px;
    background-color: white;
    box-shadow: 6px 6px 6px #E7E7E7;
    overflow: hidden;
    align-items: stretch;
}

.img_activ_small a.img2
{
    display: block;
    background-image: url('images/activites/pomegues.jpg');
    height: 180px;
    width: 305px;
    background-size: cover;
    margin-bottom: 15px;
    
}

.img_activ_small a.img3
{
    display: block;
    background-image: url('images/activites/frioul.jpg');
    height: 110px;
    background-size: cover;
    margin-bottom: 15px;
    
}

.img_activ_small a.img5
{
    display: block;
    background-image: url('images/activites/notre_dame.jpg');
    height: 140px;
    width: 305px;
    background-size: cover;
    margin-bottom: 15px;
    
}


.img_activ_small a.img6
{
    display: block;
    background-image: url('images/activites/longchamp.jpg');
    height: 152px;
    width: 305px;
    background-size: cover;
    margin-bottom: 15px;
    
}

@media all and (max-width: 1024px)
{
    
    
    .img_activites
    {
        flex-direction: column;
        align-items: center;
    }

    .img_activites figure
    {
        width: 305px;
        height: 174px;
    }

    .img_activ_big a.img1, .img_activ_big a.img4, .img_activ_small a.img2, .img_activ_small a.img3, .img_activ_small a.img5, .img_activ_small a.img6
        {
        width: 305px;
        height: 110px;
        }

    }
    
    .boutton_plus
    {
        margin-left: 20px;
    }

    .img_activ_big, .img_activ_small
    {
        margin-bottom: 1em;
    }


}
/*footer*/

footer
{
    background-color: #F2F2F2;
    display: flex;
    height: 215px;
    
}

footer .a_propos, footer .nos_hebergements, footer .assistance
{
    padding-right: 225px;

}

footer h2
{
    font-size: 1em;
    font-weight: bold;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

footer p
{
    margin-bottom: 0.7em;
}



footer .a_propos 
{
    margin-left: 50px;
}

@media all and (max-width: 1024px)
{
    footer
    {
        flex-direction: column;
        height:auto;
    }

    footer .a_propos, footer .nos_hebergements, footer .assistance
{
    padding-right: 0;
    margin-left: 25px;

}

footer h2
{
    
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.assistance
{
    margin-bottom: 2.5em;
}

}
